@import "tailwindcss";

html {
  @apply scroll-smooth;
}
body {
  @apply antialiased;
  @apply bg-neutral-900;
  font-family: var(--font-roboto), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg-first {
  @apply bg-neutral-900;
}
.bg-second {
  @apply bg-orange-200;
}

.hero-shadow-title {
  font-family: var(--font-inter);
  text-shadow: 0px 0px 0 rgb(232, 193, 148), 1px 1px 0 rgb(210, 171, 126),
    2px 2px 0 rgb(189, 150, 105), 3px 3px 0 rgb(167, 128, 83),
    4px 4px 0 rgb(145, 106, 61), 5px 5px 0 rgb(123, 84, 39),
    6px 6px 0 rgb(101, 62, 17), 7px 7px 6px rgba(0, 0, 0, 0.45),
    7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.shadow-title {
  text-shadow: 0px 0px 0 rgb(243, 225, 201), 0px 1px 0 rgb(230, 212, 188),
    0px 2px 0 rgb(218, 200, 176), 0px 3px 0 rgb(206, 188, 164),
    0px 4px 0 rgb(193, 175, 151), 0px 5px 0 rgb(181, 163, 139),
    0px 6px 0 rgb(169, 151, 127), 0px 7px 6px rgba(0, 0, 0, 0.5),
    0px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.2);
}
