@import "tailwindcss";

html {
  @apply scroll-smooth;
}
body {
  @apply antialiased;
  @apply bg-neutral-900;
  font-family: var(--font-roboto), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  h1.title {
    font-family: var(--font-pirata)
  }
  .bg-first {
    @apply bg-neutral-900;
  }
  .bg-second {
    @apply bg-orange-200;
  }

}
